@import 'Common/variable.less';

body {
    main {
        .sites {
            &-info {
                margin-block: 30px 50px;

                &-search {
                    width: auto;
                    display: flex;
                    margin-inline: auto;
                    position: relative;

                    input {
                        max-width: 150px;
                        width: 100%;
                        padding: 5px;
                        border: 1px solid var(--primaryColor);
                        background-color: transparent;
                        border-radius: 5px;
                        font-size: 1rem;
                        color: var(--blackColor);
                        margin-inline: auto;
                        transition: all var(--duration);

                        &:focus {
                            max-width: 400px;
                        }
                    }
                }

                &-description {
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    align-items: stretch;
                    justify-content: center;
                    gap: 20px;
                }

                &-message {
                    width: 100%;
                    margin-block: 30px;
                    display: none;

                    > p {
                        margin-inline: auto;
                        width: 100%;
                        text-align: center;
                        grid-column-end: 5;
                        grid-column-start: 1;
                        font-size: 2rem;
                        position: relative;
                        color: var(--blackColor);
                    }

                    &._block {
                        display: block !important;
                    }
                }
            }

            &-button {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
                margin-top: 20px;

                button {
                    max-width: 200px;
                }
            }
        }

        .loading {
            width: 100vw;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;

            > article {
                max-width: 500px;
                width: 100%;
            }
        }

        .loadingPopup {
            width: 100vw;
            height: 100vh;
            background-color: #00000096;
            z-index: 9999999;
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            > article {
                width: 100%;
                max-width: 500px;
                min-height: auto;
                padding: 10px;
                background-color: var(--whiteColor);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;
            }

            &-details {
                display: flex;
                flex-direction: column;
                max-width: 400px;
                margin-inline: auto;
                width: 100%;

                > div {
                    width: fit-content;

                    p {
                        font-size: 1rem;
                        color: var(--blackColor);
                        margin: 0;
                    }

                    span {
                        width: 100%;
                        height: 10px;
                        border-radius: 5px;
                        background-color: grey;
                        content: "";
                        display: block;
                        position: relative;

                        &:after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: "";
                            height: 100%;
                            width: var(--percentage);
                            background-color: var(--primaryColor);
                            border-radius: 5px;
                        }
                    }

                    &:last-child {
                        width: 100%;
                    }
                }
            }

            &-loading {
                height: 200px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-close {
                position: relative;
                width: fit-content;
                padding: 3px;
                margin-left: auto;

                button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: var(--primaryColor);
                    font-size: 1rem;
                    cursor: pointer;
                    transition: all var(--duration);

                    &:hover {
                        color: var(--secondaryColor);
                    }
                }
            }

            &-error {
                width: fit-content;
                margin-inline: auto;

                span {
                    font-size: 1rem;
                    color: var(--redColor);
                }
            }

            &-failed {
                width: 100%;
                display: flex;
                flex-direction: column;
                max-height: 18vh;
                overflow-y: auto;
                align-items: flex-start;
                margin-top: 50px;

                span {
                    font-size: .9rem;
                    color: var(--blackColor);
                    position: relative;
                    user-select: all;
                    overflow-wrap: anywhere;

                    &:before {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: var(--primaryColor);
                        border: none;
                    }
                }
            }
        }
    }
}
